body{
  background: #E5E5E5;
}
.produto-container{
  width: 100%;
  height: 100vh;
  background: #E5E5E5;

  display: flex;
  justify-content: center;
  align-items: center;
}
.produto-content{
  width: 80%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.produto-esquerda{
  max-width: 575px;
  height: 100%;
}
.align-preco{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 
.produto-direita{
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foto-produto{
  width: 575px;
  height: 415px;
  background: rgb(92, 90, 90);
}
.foto-produto img{
  width: 100%;
  height: 100%;
  border-radius: 9px;
}
.descricao-produto{
  padding: 10px;
}
.descricao-produto h1{
  font-size: 2.0rem;
  color: #820E0E;
  text-align: left;
}
.descricao-produto p{
  color: #A6A6A6;
  text-align: left;
  margin-top: 5px;
  word-break: break-all;
}
.button-container{
  display: flex;
  flex-direction: column;
  margin-top: 40px; 
}
.button-produto{
  width: 300px;
  height: 55px;
  background: #820E0E;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  margin-top: -15px;
  margin-bottom: 35px;
  border: none;
}
.button-produto h2{
  color: #fff;
}
.button-produto:hover{
  background: #fff;
}
.button-produto:hover h2{
  color: #820E0E;
}
.button-produto-add{
  width: 300px;
  height: 55px;
  background: #fff;
  border-radius: 15px;
  color: #820E0E;
  cursor: pointer;
  margin-top: -15px;
  margin-bottom: 35px;
  border: none;
  border: 3px solid #820E0E;
}
.button-produto-add h2{
  color: #820E0E;
}
.button-produto-add:hover{
  background: #820E0E;
}
.button-produto-add:hover h2{
  color: #fff;
}
.preco-produto-pag h1{
  font-size: 6.0rem;
  color: #820E0E;
  text-align: left  
}
.preco-produto-pag p{
  color: #A6A6A6;
  text-align: left;
  margin-top: 5px;  
}
.produto-frete-calc{
  margin-top: 20px;  
}
.produto-frete-calc h2{
  font-size: 2.0rem;
  color: #820E0E;
  text-align: left;
  margin-bottom: 10px; 
    
}
.icon-produto{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;

  background: #F0F0F0;
  border-radius: 9px;
}
.icon-produto h3{
  z-index: 9;
  height: 100%;
  color: #820E0E ;
  cursor: pointer;
}
.icon-produto input{
  width: 275px;
  height: 40px;
  background: #F0F0F0;
  border-radius: 9px;
  border: none;
  position: relative;

  
  padding-left: 20px;
  font-size: large;
  font-weight: 700;
    
}
.qtd-produto-pag{
  margin-top: 20px;
}
.qtd-produto-pag h2{
  font-size: 2.0rem;
  color: #820E0E;
  margin-bottom: 10px;
}
.qtd-produto-pag h1{
  color: #820E0E;
  margin: 10px;
  cursor: pointer;
}
.qtd-produto-pag input{
  width: 90%;
  padding-left: 35%;
}

.button-container{
  margin-top: 40px; 
}
.naoSelecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  /* cursor: default; */
} 
@media(max-width: 1024px){
  .foto-produto{
    width: 375px;
    height: 295px;
  }
}
@media(max-width: 768px){
  .produto-content{
    flex-wrap: nowrap;
    width: 95%;
  }
}
@media(max-width: 425px){
  .produto-container{
    height: max-content;
  }
  .produto-content{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    position: relative;

  }

  .produto-esquerda{
    margin-top: 85px;
    height: 50%;
  }
  .produto-direita{
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .descricao-produto{
    max-width: 375px;
    height: auto;
    word-break: break-all;
  }

}
@media(max-width: 375px){
    .foto-produto{
      width: 365px;
      height: 205px;
      margin-left: 5px;
    }
}
@media(max-width: 375px){
  .produto-esquerda{
    width: 335px;
  }
  .foto-produto{
    width: 335px;
    height: 175px;

  }
}