.produto{
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  color: #820E0E;
  width: 30%;
  height: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.5rem;
}
.produto h1{
  font-size: 1.2rem;
}

.add{
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  color: #820E0E;
  width: 30%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listaProdutos{
  width: 75%;
}
.produtosCadastrados{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.addMeta{
  color: #820E0E;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 1100px){
  .produto h1{
    font-size: 0.9rem;
  }
}


@media (max-width: 800px){
  .listaProdutos , .produtosCadastrados{
    width: 100%;
    justify-content: space-between;
  }
  .produto{
    width: 40%;
  }
  .add{
    width: 40%;
  }
}