.nav-menu{
  background: #820E0E;
  height: 60px;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}


.menu-toggle{
  position: fixed;
  z-index: 10;
}
.botoes{
  display: flex;
}
.buttonNav{
  height: 60px;
  padding: 7px;

  display: flex;
  align-items: center;
}
.buttonNav:hover{
  background: #fff;
  cursor: pointer;
  color: #820E0E;
}

.buttonNav a:hover{
  color: #820E0E;
}

.btnNav{
  margin: 5px;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnNav h4{
  margin-right: 3px;
}
.circle img{
  resize: both;
  width: 50px;
  border: solid white 1px;
  border-radius: 100%;
  margin-left: 5px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-left: 20px;
  z-index: 8;
}

.ladoDireito{
  display: flex;
  align-items: center;
  color: white;
  
}
.ladoEsquerdo img{
  width: 50px;
  height: 50px;
}

.BotoesLogin{
  background: #FFFFFF;
  border-radius: 9px;
  width: 100px;
  padding: 10px;
  margin: 8px;
  color: #820E0E;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.loginEcadastro{
  display: flex;
  flex-direction: row;
}

.dropdown{
  position: absolute;
  margin-top: 133px;
  margin-left: -10px;
  border-radius: 0 0 15px 15px;
  background-color: #820E0E;
  width: 250px;
  display: none;
  flex-direction: column;
  padding: 15px;
}
.Links{
  color: white;
  font-weight: bold;
  font-size: 17px;
}
.Links:hover{
  color: rgb(218, 216, 216);
}
.dropdown .Links+.Links{
  margin-top: 10px;
  color: white;
}
.dropdown .Links+.Links:hover{
  color: rgb(218, 216, 216);
}

.perfil:hover .dropdown{
  display: flex;
}

@media(max-width: 700px){
  .ladoDireito{
    display: none;
  }
}