html{
  min-width: 100%;
}
header{
  width: 100%;
  margin: 0;
  
}
header img{
  width: 100%;
  resize: both;
  image-resolution: 300;
  margin-top: 60px;
}

.home-content{
  width: 100%;
  margin-top: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.produtos-container{
  width: 80%;
  max-width: 1280px;
  margin: 10px;
  padding: 10px;
  

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: space-around;
}
.produtos{
  width: 350px;
  height: 383px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}
.foto-produto-home{
  width: 350px;
  height: 278px;
  background: none;
}
.foto-produto-home img{
  width: 350px;
  height: 278px;
  border-radius: 15px 15px 0px 0px;
}
.home-content-produto{
  padding: 10px;
}
.home-content-produto h1{
  font-size: 2.0rem;
  color: #820E0E;
  text-align: left;
}
.home-content-produto p{
  color: #A6A6A6;
  text-align: left;
  margin-top: 5px;
}


@media(max-width: 1024px){
  .produtos-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .produtos{
    margin: 10px;
  }
}
@media(max-width: 768px){
  .produtos-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
   }
}
@media(max-width: 320px){
  .produtos{
    width: 97%;
    height: 280px;
  }
  .foto-produto-home{
    width: 100%;
    height: 68%;
  }
  .foto-produto-home img{
    width: 100%;
    height: 100%;
  }
}