.Dashboard{
  width: 100%;
  height: 100vh;
  background: #F5F6FA;
}

.header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 55px;
}

.esquerda img{
  width: 70px;
}
.direita{
  background: chocolate;
  width: max-content;
  height: 100%;
}
.perfilDash{
  background: #FFFFFF;
  border-radius: 100px;
  padding: 20px;
  width: max-content;
  display: flex;
  align-items: center;
}
.perfilDash h3{
  margin-left: 30px;
}
.circleDash{
  background: #820E0E;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
  display: block;
  position: absolute;
}

.perfilDash h2{
  position: relative;
  margin-left: 55px;
  font-size: 1.3rem;
}

.funcoes{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.funcoes .itens{
  margin: 20px;
  color: #820E0E;
}
.itens:hover{
  color: gray;
}

.main{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5%;
}

.ultimosPedidos{
  width: 80%;
}
.ultimosPedidos h1{
  margin-bottom: 25px;
}

.itemLista span{
  margin: 5px;
}
.itemLista{
  background: white;
  margin: 15px;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.itemLista h2{
  background: #820E0E;
  border-radius: 9px;
  width: 35px;
  height: 35px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.itemLista .nome{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.infos{
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.infoitems{
  display: flex;
  flex-direction: column;
  color: gray;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.total{
  border-left: gray 1px solid;
  padding-left: 30px;
  display: flex;
  align-items: center;
  width: 120px;
}
.exitbtn:hover{
  color: gray;
}
.exitbtn{
  cursor: pointer;
  margin-top: 5px;
}

.total{
  display: flex;
  flex-direction: column;
}

.infoitems span{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

/* Cards de estatisticas */
.cardEst{
  background: #fff;
  width: 100%;
  padding: 25px;
  margin: 35px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #820E0E;
}

.cardEst + .cardEst{
  margin-top: -20px;
}

.cardEst1{
  background: #fff;
  width: 100%;
  padding: 25px;
  margin: 35px;
  margin-top: -20px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #820E0E;
}

.saldoDisponivel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dirCard{
  display: flex;
  flex-direction: column;
}
.esqCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnTransfer{
  border: solid #820E0E 3px;
  background: none;
  border-radius: 15px;
  height: 45px;
  color: #820E0E;
  cursor: pointer;
}
.btnTransfer:hover{
  background: #820E0E;
  color: white;
}

.container-opcoes-pedidos{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


@media (max-width: 800px){
  .main{
    flex-wrap: wrap;
    padding: 0px;
  }

  .cardEst{
    padding: 25px;
    margin: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .ultimosPedidos{
    width: 100%;
  }
  .CardsEstatisticas{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
}